<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Listar Produtos</title>
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <!--Importando Script Jquery-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>
<body>
<div class="container" style="padding-top:10%">
    <center>
        <div class="row" style="margin:2%;">
            <h3>Gerar Pedido E-commerce</h3>
        </div>
    </center>
   <center> <div class="row" style="margin:2%;width:100%">
        <a href="/ws/pedido/add">
        <button type="button" class="btn btn-primary">Gerar Pedido</button></a>
    </div>
    <div class="row" style="margin:2%;">
        <a href="/ws/produto/listAll">
            <button type="button" class="btn btn-success">Lista de Produtos Ecommerce</button></a>
    </div></center>

</div>
</body>
</html>